body {
	background: white;
	color: #222;
	line-height: 1.4;
	-webkit-text-size-adjust: 100%;
	margin: 7px;
	padding: 0;
	font-family: Arial, Helvetica, "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
	font-size: 15px;
}

@font-face{
	font-family: "jietoden";
	src: url(./jietoden_liparxe.woff);
}

div {
	margin: 0;
	padding: 0;
}

.contents {
	position: relative;
}

.editor-pain {
	margin-right: 570px;
}

.interpreter-pain {
	position: absolute;
	top: 0;
	right: 0;
	width: 550px;
}

@media (max-width: 960px){
	.editor-pain {
		margin-right: 0;
	}

	.interpreter-pain {
		position: static;
		width: auto;
	}
}

.CodeMirror {
	font-size: 14px;
	border: 1px solid black;
	height: 30em;
}

.monospace, .CodeMirror {
	font-family: "Consolas", "Courier New", monospace;
}

.liparxe .lineparine {
	font-family: "jietoden", Arial, Helvetica, "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
}

.liparxe .lineparine .monospace,
.liparxe .monospace .lineparine,
.liparxe .lineparine.monospace,
.liparxe .CodeMirror {
	font-family: "jietoden", "Consolas", "Courier New", monospace;
}

.editor-tab {
	display: inline-block;
	padding: 0 0.4em;
	margin: 0 2px 2px 0;
	border: 1px #666 solid;
	user-select: none;
	cursor: default;
	background: #ccc;
}

.editor-tab-close {
	padding: 0.3em;
	margin-right: -0.3em;
	color: #faa;
	font-weight: normal;
}
.editor-tab-close:hover {
	color: #f00;
}

.editor-tab.active {
	font-weight: bold;
	background: #fff;
}

.editor-status-bar {
	background: #eee;
	border: 1px solid black;
	border-top-style: none;
	cursor: default;
	padding: 0.2em 0.5em;
}
.editor-status-bar .active {
	font-weight: bold;
}

.errors, .error {
	color: red;
}

.warnings, .warning {
	color: #c80
}

.CodeMirror-pointer-nx {
	background: rgba(255, 0, 0, 0.3);
}

.state-inactive {
	background: #ddd;
}
.state-inactive .CodeMirror {
	background: #ddd;
}
.state-inactive .CodeMirror-activeline-background {
	background: #c8d0dd;
}

.out-memory-section {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.out-memory-section.separator {
	border-top: 1px dashed black;
	margin-top: 3px;
	padding-top: 3px;
}
.out-memory-pointer {
	outline: 1px solid black;
	position: relative;
}
.out-memory-pointer::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 0;
	font-size: 60%;
}

.out-memory-pointer.f5 {
	outline-color: blue;
}
.out-memory-pointer.f5::before {
	content: "f5";
	color: blue;
}
